<nav class="nav">
  <ul class="nav__menu">
    <li class="nav__menu--option"><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li class="nav__menu--option"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    <li class="nav__menu--option"><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
    <li class="nav__menu--option"><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
    <li class="nav__menu--option"><a routerLink="/about" routerLinkActive="active">About</a></li>
  </ul>
</nav>
